body {
    font-family: "Avenir Next";
  }

li{
    list-style:none;
}
.header-list li{
    float:left;
    padding:33px 20px;
  }

.header-logo{
    font: size 60px;
    float:left;
    padding:20px 40px;
}

.header {
    background-color: #f7f2b4;
    color:#ceccf3;
    height:90px;
  }

.main {
    background-color: #bdf7f1;
    height: 600px;
  }
.copy-container h1{
    font-size:140px;
    border-bottom:3px solid #f7f2b4;
}
.copy-container span{
    color:beige;
}
.contact-form{
    padding-top:100px;
}
input,textarea{
    width:400px;
    margin-top:10px;
    margin-bottom:30px;
    padding:20px;
    font-size:18px;
    border:1px solid #dee7ec;
}
.contact-submit{
    background-color: #ceccf3;
    color: aqua;
}
.footer {
    background-color: #ceccf3;
    height: 270px;
  }
.footer-logo{
    font-size:32px;
    float:left;
}
.footer-list{
    float:right;
}

.footer-list li{
    padding-bottom:20px;
}