body {
    font-family: "Arial";
  }

li{
    list-style:none;
}
.header-list li{
    float:left;
    padding:33px 20px;
  }

.header-logo{
    font: size 80px;
    float:left;
    padding:40px 40px;
}

.header {
    background-color: #f7f2b4;
    color:rgb(252, 121, 252);
    height:90px;
  }

.main {
    background-color: #bdf7f1;
    height: 900px;
  }
.copy-container h1{
    font-size:70px;
    color:rgb(241, 172, 184);
    border-bottom:3px solid #f7f2b4;
}
.copy-container span{
    color:rgb(245, 3, 124);
}
.contact-form{
    padding-top:100px;
}
input,textarea{
    width:400px;
    margin-top:10px;
    margin-bottom:30px;
    padding:20px;
    font-size:18px;
    border:1px solid #dee7ec;
}
.contact-submit{
    background-color: #ceccf3;
    color: aqua;
}
.footer {
    background-color: #ceccf3;
    height: 60px;
  }
.footer-logo{
    font-size:32px;
    float:left;
}
.footer-list{
    float:right;
}

.footer-list li{
    padding-bottom:20px;
}